<div id="shelf-1" snap-drawer style="background:url('http://rafaelhenrique.net/djrus/images/img02.png');">
    <div ng-include="'html/playlist.html'"></div>

    <button class="btn btn-primary btn-small" snap-close>Fechar</button>
</div>
<div id="content" class="scrollable" snap-content snap-options="snapOpts">
<!--
    <button class="transparentButton big-icon" snap-toggle="left" ng-click="getSongs(partyName)" id="playlistButton" ng-hide="hideControls">
            <i class="fa fa-music fa-3x"></i>
            <i class="fa fa-chevron-right fa-3x"></i>
    </button>
-->
    <div id="logo">
        <h3><a ng-click="hideShowCtrl()">Envie suas fotos acessando:</a></h3>
        <h1><span>j</span>jukeB.net/#/{{partyName}}</h1>

    </div>
    <!--bem vindo a sua festa ({{partyName}}dd)
    {{currentImage}}
--> <div ng-controller = "uploadController" id="btnPhoto" class="big-icon" >
        <div ng-show="!uploading" ng-hide="hideControls" >
            <label for="upload">
                    <span class="fa-stack fa-l fa-3x">
                        <i class="fa fa-circle fa-stack-2x fa-3x"></i>
                        <i class="fa fa-camera fa-stack-1x fa-inverse "></i>
                    </span>
                <input type="file"  id="upload" style="display:none" file-model="myFile"/>
            </label>
            <button ng-show="fileSet()"  ng-click="uploadFile(partyName)" class="transparentButton">
              <span class="fa-stack fa-l fa-3x" >
                    <i class="fa fa-circle fa-stack-2x fa-3x"></i>
                    <i class="fa fa-upload fa-stack-1x fa-inverse "></i>
              </span>
            </button>
        </div >
        <div ng-show="uploading" class="big-icon" >
             <span class="fa-stack fa-l fa-3x" >
                        <i class="fa fa-circle fa-stack-2x fa-3x"></i>
                        <i class="fa fa-spinner fa-pulse fa-stack-1x fa-inverse fa-spin"></i>
             </span>

        </div>
    </div>




    <div id="deletebtn"  class="big-icon"  ng-hide="hideControls" >
        <button ng-click="doDelete(partyName,currentImageId)" class="transparentButton">
                <span class="fa-stack fa-l fa-2x" >
                    <i class="fa fa-circle fa-stack-2x fa-2x"></i>
                    <i class="fa fa-trash-o fa-stack-1x fa-inverse "></i>
                </span>
        </button>


    </div>
    {{currentImageId}}-{{pictures.length}}
    <div id="bg">
        <img ng-src={{currentImage}}>
    </div>
</div>
